/* Основні стилі */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1f21;
}

.header {
    text-align: center;
}

.login-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.login-btn:hover {
    background-color: #45a049;
}

/* Стилі для спливаючого вікна авторизації */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.hidden {
    display: none;
}

.login-form h2 {
    margin: 0;
    color: white;
    text-align: center;
}

.login-form label {
    color: white;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

.close-btn {
    background-color: #ff5f5f;
    margin-top: 10px;
}

.close-btn:hover {
    background-color: #ff3d3d;
}
