body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif; /* Шрифт Comfortaa */
    background-color: #000;
    color: #ffffff;
    background-image: url('https://i.imgur.com/2IUsv4r.png');
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 5px; /* Менше відступлення для контитулу */
    border-bottom: 2px solid #ff9800;
}

.title {
    font-size: 1.5em; /* Зменшений заголовок */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
}

h2 {
    font-size: 2em; /* Збільшити заголовки секцій */
}

.image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.gallery-image {
    width: 200px; /* Ширина зображення */
    height: auto;
    border-radius: 15px; /* Заокруглені кути */
    margin: 10px;
    transition: transform 0.3s; /* Ефект при наведенні */
}

.gallery-image:hover {
    transform: scale(1.05); /* Збільшення зображення при наведенні */
}
